.print {
    width: 8in;
    border: 1px solid #d2d2d2;
}

.printLink a {
    color: #353535;
    text-decoration: none;
    cursor: auto;
    pointer-events: none;
}

.partyLogo {
    height: 30pt;
    width: 30pt;
    background: #353535;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 16pt;
    color: #fff;
    font-size: 20pt;
    font-weight: bold;
    line-height: 30pt;
    text-align: center;
    padding-left: 2pt;
    -webkit-print-color-adjust: exact; /* for chrome and safari */
    color-adjust: exact;  /* for Firefox and IE */
}

.partyLogo.democrat {
    background: #11719f;
}

.partyLogo.republican {
    background: #a4201d;
}

.candidateName {
    font-size: 16pt;
    font-weight: bold;
    display: inline-block;
    float: left;
    line-height: 30pt;
}

.candidateName.republican {
    color: #a4201d;
}

.candidateName.democrat {
    color: #11719F;
}

.topicSubhead {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 14pt;
}

.topicSubhead.democrat {
    color: #11719f;
}

.topicSubhead.republican {
    color: #a4201d;
}

.contentList {
    margin-left: 1rem;
}

.contentList li {
    line-height: 16pt;
    margin-bottom: 10pt;
    font-size: 12pt;
}

.separator {
    width: 100%;
    text-align: center;
    color: #adabac;
    font-size: 10pt;
    text-transform: uppercase;
    margin: 1.2rem 0;
}

.separatorLine {
    display: inline-block;
    width: 130pt;
    border: 0.5pt solid #adabac;
    margin: 0 30pt 4pt 30pt;
}

.card {
    margin-bottom: 50pt;
}