.menuTitle {
    font-size: 24px;
    font-weight: "bold";
    margin-bottom: 1rem;
}

.menuList {
    list-style: none;
    margin-left: 0;
    width: 375px;
}

.menuButton {
    border: none;
    background: none;
    padding-left: 0;
    text-align: left;
    cursor: pointer;
    height: 30px;
    font-style: italic;
    color: #adabac;
}

.moveable {
    cursor: move;
}

.menuButton.selected {
    color: #000;
    font-style: normal;
}