.menuList {
    list-style: none;
    margin-left: 0;
    width: 260px;
}

.btn {
    border: none;
    background: none;
    padding-left: 0;
    text-align: left;
    height: 40px;
}

.menuButton {
    cursor: move;
    height: 30px;
    font-style: italic;
    color: #adabac;
}

.menuButton.selected {
    color: #000;
    font-style: normal;
}

.selectAllBtn {
    font-weight: bold;
    color: #46abdb;
}