.menuTitle {
    font-size: 24px;
    font-weight: "bold";
    margin-bottom: 1rem;
}

.menuList {
    list-style: none;
    margin-left: 0;
    width: 290px;
    margin-bottom: 50px;
}

.menuButton {
    border: none;
    background: none;
    padding: 0;
    text-align: left;
    cursor: pointer;
    height: 30px;
    font-style: italic;
    color: #adabac;
    width: 100%;
    position: relative;
    height: auto;
}

.moveable {
    cursor: move;
}

.menuButton.selected {
    color: #000;
    font-style: normal;
}

.buttonLabel {
    max-width: 260px;
    display: inline-block;
}

.selectedIcon {
    font-style: normal;
    font-weight: bold;
    display: inline-flex;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    align-items: center;
}

.menuButton.selected.democrat .selectedIcon {
    color: #11719F;
}

.menuButton.selected.republican .selectedIcon {
    color: #a4201d;
}