.card {
    height: 200px;
    width: 200px;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    float: left;
    background-color: #fff;
    position: relative;
}

.modalView {
    position: absolute;
    width: 600px;
    height: 400px;
    margin-left: -300px;
    margin-top: -200px;
    top: 50%;
    left: 50%;
    z-index: 10;
    /*pointer-events: none;*/
}

.closeModalBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}