.cardContainer {
    width: calc(100vw - 415px);
    max-width: 811px;
    display: inline-block;
    float: left;
}

@media screen and (max-width: 1225px) {
    .cardContainer {
        width: calc(100vw - 455px);
    }
}

@media screen and (min-width: 441px) and (max-width: 779px) {
    .cardContainer {
        display: block;
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 440px) {
    .cardContainer {
        width: 100%;
    }
}
.myMasonryGrid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
  margin-top: 50px;
}

.myMasonryGridColumn {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}

@media screen and (max-width: 440px) {
    .myMasonryGrid {
        margin-left: 0;
    }

    .myMasonryGridColumn {
        padding-left: 0;
    }
}

.printLink {
    font-size: 16px;
    font-weight: bold;
    color: #008bb0;
    cursor: pointer;
    text-decoration: none;
}

.printLink:hover {
    text-decoration: underline;
}