.card {
    /*height: 400px;*/
    max-width: 396px;
    border: 1px solid #BCBEC0;
    padding: 20px;
    margin-bottom: 20px;
    /*display: inline-block;*/
    /*float: left;*/
    background-color: #fff;
    font-size: 16px;
    position: relative;
    box-sizing: border-box;
}

.card.inactive {
    background-color: rgba(239, 239, 239, 0.25);
    /*border: none;*/
}

.card.print {
    margin-bottom: 50pt;
    padding: 0;
    max-width: 100%;
    border: none;
}

.card.inactive.print {
    background-color: #fff;
}

.card.print:last-child {
    margin-bottom: 0;
}

.card.print p {
    font-size: 12pt;
    line-height: 16pt;
}

.print a {
    color: #353535;
    text-decoration: none;
    cursor: auto;
    pointer-events: none;
}

@media screen and (max-width: 1094px) {
    .card {
        width: 396px;
    }
}

@media screen and (max-width: 440px) {
    .card {
        width: 100%;
    }
}

.cardTitle {
    font-size: 14px;
    text-transform: uppercase;
}

.cardTitle.inactive {
    color: #BCBEC0;
}

.cardTitle.print.inactive {
    color: #353535;
}

.partyLogo {
    height: 50px;
    width: 50px;
    background: #353535;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 16px;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    line-height: 49px;
    text-align: center;
    padding-left: 2px;
}

.partyLogo.print {
    height: 30pt;
    width: 30pt;
    font-size: 20pt;
    line-height: 30pt;
    padding-left: 2pt;
    -webkit-print-color-adjust: exact; /* for chrome and safari */
    color-adjust: exact;  /* for Firefox and IE */
}

.partyLogo.democrat,
.partyLogo.print.democrat.inactive {
    background: #11719f;
}

.partyLogo.republican,
.partyLogo.print.republican.inactive {
    background: #a4201d;
}

.partyLogo.inactive {
    background: #BCBEC0;
}

.candidateName {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    float: left;
    line-height: 45px;
}

.print.candidateName {
    font-size: 16pt;
    line-height: 30pt;
}

.candidateName.democrat,
.print.candidateName.democrat.inactive {
    color: #11719f;
}

.candidateName.republican,
.print.candidateName.republican.inactive {
    color: #a4201d;
}

.candidateName.inactive {
    color: #BCBEC0;
}

.sectionTitle {
    color: #353535;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0.8rem;
}

.sectionTitle.democrat,
.sectionTitle.print.democrat.inactive {
    color: #11719f;
}

.sectionTitle.republican,
.sectionTitle.print.republican.inactive {
    color: #a4201d;
}

.sectionTitle.inactive,
.cardContent.inactive,
.cardContent.inactive a {
    color: #BCBEC0;
}

.cardContent.print.inactive,
.cardContent.print.inactive a {
    color: #353535;
}

.viewMoreLink {
    font-style: italic;
    color: #adabac;
    position: absolute;
    bottom: 14px;
    margin: 0;
    cursor: pointer;
}

.viewMoreLink:hover {
    text-decoration: underline;
}

.readMoreLink {
    font-style: italic;
    color: #adabac;
    /*position: absolute;*/
    /*bottom: 14px;*/
    /*margin: 0;*/
    cursor: pointer;
}

.readMoreLink:hover {
    text-decoration: underline;
}