.topicSubhead {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.topicSubhead.democrat {
    color: #11719f;
}

.topicSubhead.republican {
    color: #a4201d;
}

.topicSubhead.inactive {
    color: #BCBEC0;
}

.contentList {
    margin-left: 1rem;
}

.contentList li {
    line-height: 1.4rem;
    margin-bottom: 0.6rem;
    font-size: 16px;
}

.print a {
    color: #353535;
    text-decoration: none;
    cursor: auto;
    pointer-events: none;
}

@media screen and (max-width: 779px) {
    .contentList li {
        line-height: 1.5rem;
    }
}