.footerHeader {
    margin: 0;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: "uppercase";
}

.footerText {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.job {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.mediaInquiries {
    margin-bottom: 1.45rem;
}

.mediaInquiries p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 0;
}

.githubLink {
    font-size: 14px;
    line-height: 1.6;
    font-style: italic;
}