.headerContainerDiv {
    margin: 0 auto;
    max-width: 1226px;
    /*height: 268px;*/
    padding: 2rem 0;
}

.innerContainerDiv {
    display: inline-block;
    width: 61%;
    margin-right: 70px;
}

.projectTitle {
    margin: 0;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 1.4rem;
}

.date {
    color: #fff;
    font-size: 24px;
    margin-top: 2rem;
}

.introParagraph {
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    line-height: 35px;
    margin-bottom: 2.5rem;
    color: #fff;
}

.headerImage {
    max-height: 350px;
    vertical-align: bottom;
    margin-bottom: 0;
    /*float: right;*/
}

@media screen and (max-width: 1225px) {
    .headerContainerDiv {
        padding: 1.45rem 20px;
    }

    .innerContainerDiv {
        width: 100%;
    }
}

@media screen and (min-width: 451px) and (max-width: 779px) {
    .headerContainerDiv {
        height: auto;
    }

    .innerContainerDiv {
        width: 100%;
    }

    .projectTitle {
        font-size: 50px;
    }
}

@media screen and (max-width: 450px) {
    .headerContainerDiv {
        height: auto;
    }

    .innerContainerDiv {
        width: 100%;
    }

    .projectTitle {
        font-size: 24px;
    }

    .date {
        font-size: 14px;
    }

    .introParagraph {
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
    }

    .headerImage {
        height: 250px;
    }
}