.partyLogo {
    height: 50px;
    width: 50px;
    background: #353535;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 16px;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    line-height: 49px;
    text-align: center;
    padding-left: 2px;
}

.partyLogo.print {
    height: 30pt;
    width: 30pt;
    font-size: 20pt;
    line-height: 30pt;
    padding-left: 2pt;
    -webkit-print-color-adjust: exact; /* for chrome and safari */
    color-adjust: exact;  /* for Firefox and IE */
}

.partyLogo.democrat {
    background: #11719f;
}

.partyLogo.republican {
    background: #a4201d;
}

.candidateName {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    float: left;
    line-height: 45px;
}

.print.candidateName {
    font-size: 16pt;
    line-height: 30pt;
}

.candidateName.republican {
    color: #a4201d;
}

.candidateName.democrat {
    color: #11719F;
}

.separator {
    width: 100%;
    text-align: center;
    color: #adabac;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.separator.print {
    font-size: 10pt;
}

.separatorLine {
    display: inline-block;
    width: 200px;
    border: 0.5px solid #adabac;
    margin: 0 40px 4px 40px;
}

.separatorLine.print {
    width: 130pt;
    margin: 0 30pt 4pt 30pt;
}

@media screen and (max-width: 1094px) {
    .separatorLine {
        width: 20%;
        margin: 0 30px 4px 30px;
    }
}