.modal {
    width: 1000px;
    height: 600px;
    background: #fff;
    /*border: 1px solid #000;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    /*overflow-y: scroll;*/
    /*padding: 30px;*/
}

.closed {
    display: none;
}

.closeModalBtn {
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.modalBackdrop {
    /*width: 100%;*/
    /*height: 100%;*/
    background-color: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
}

.modalWindow {
    height: 90%;
    width: 100%;
    position: absolute;
    overflow-y: scroll;
    top: 30px;
    padding: 0 30px;
}

.downloadPdfLink {
    color: #008bb0;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
}

.downloadPdfLink:hover {
    text-decoration: underline;
}

.partyLogo {
    height: 50px;
    width: 50px;
    background: #353535;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 16px;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    line-height: 49px;
    text-align: center;
    padding-left: 2px;
}

.partyLogo.democrat {
    background: #11719f;
}

.partyLogo.republican {
    background: #a4201d;
}

.candidateName {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    float: left;
    line-height: 45px;
}

.candidateName.republican {
    color: #a4201d;
}

.candidateName.democrat {
    color: #11719F;
}

@media screen and (max-width: 1094px) {
    .modal {
        width: 95vw;
        height: 95vh;
    }
}
