.navLinkContainer {
    width: 330px;
    position: absolute;
    right: 0;
}

.navLink {
    min-width: 110px;
    height: 45px;
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    color: #adabac;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 45px;
    border: 1px solid #adabac;
}

.navLink:not(:last-child) {
    border-right: none;
}

.navLink:hover {
    background-color: #164b7c;
    color: #fff;
    border-color: #164b7c;
}

.selected {
    background-color: #164b7c;
    color: #fff;
    border-color: #164b7c;
}

@media screen and (max-width: 1225px) {
    .navLinkContainer {
        right: 20px;
    }
}

@media screen and (max-width: 1094px) {
    .navLinkContainer {
        position: static;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 500px) {
    .navLinkContainer {
        width: 100%;
    }

    .navLink {
        width: 33%;
        min-width: 0;
    }
}