.navLinkContainer {
    maxWidth: 960;
}

.navLink {
    min-width: 100px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.navLink:hover {
    text-decoration: underline;
}

.selected {
    background-color: #696969;
    color: #fff;
}